
.logo{
  width: 110px;
  margin-left: 15px;
}

.searchEmailContainer{
  border-radius: 23px;
  margin-left: 80px;
  background-color: rgb(234,241,251);
  padding:0, 12px;
  height: 45px;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.searchEmailContainer > svg{
  cursor: pointer;
  margin: 5px;
}
#searchEmail{
  background-color: rgb(234,241,251);
  height: 30px;
  border: none;
  width: 550px;
  border-radius: 5px;
}
#searchEmail:focus{
  outline: none;
}
.utilities{
width: 100%;
display: flex;
justify-content: flex-end;
}
.utilities > svg{
  cursor: pointer;
}

.MuiDrawer-paper{
  border-right: none !important;
  background:rgb(245, 245, 245) !important;
  margin-top: 64px;
  width: 250px;
}
.compose{
  padding: 5px;
  margin-left: 37px;
  background-color: rgb(194,231,255);
  border-radius: 16px;
  width: 140px;

}
.menuicon{
  cursor: pointer;
}
.composebutton{
  text-transform: none !important;
  color: rgb(0,29,53) !important ;
}
.composebutton > svg{
  margin-right: 10px;
}
.sidebar{
padding: 8px;
}
.inboxAndAll{
padding: 10px, 0, 0, 5px !important;
cursor: pointer;
font-size: 14px;
font-weight: 500;
}
.inboxAndAll  > li > svg{
  margin-right: 18px !important;
}
.newmailHeader{
  display: flex;
  font-size: 14px;
  align-content: center;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(242,246,252);
}
svg{
  cursor: pointer;
}
.recipientAndSubject{
  padding:0 5px;
  display: flex;
  flex-direction: column;
}
.same{
  border: none;
  border-bottom: 1px solid grey ;
  margin-top: 13px;
}
.same:focus{
  outline: 0;
}
.textfield{
  padding: 5px;
  margin: 2px;
  width: 98.8%;
  height: 80%;
}
.newmailContent{
  border: none;
  height: 80%;
  width:100%;
  resize: none;
}
.newmailContent:focus{
  outline: none;
}
.newmailFooter{
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.sendbutton{
  font-weight: 500 !important;
  margin-left: 7px !important;
  margin-bottom: 9px !important;
  background-color: rgb(11,87,208) !important;
  color: white !important;
  border-radius: 19px !important;
  text-transform: none !important;
  width: 100px;
}

.link ,.link:focus ,.link::after,link:hover,link:active,link:visited{
cursor: pointer;
font-size: 14px;
font-weight: 500;
color: rgba(0, 0, 0, 0.87);
  text-decoration: none !important;
}

.emailvisibleheader{
  padding: 60px 10px 0 10px;
  display: flex;
  align-items: center;
}
.subjectandcontent{
  display: flex;
}
.subjectandcontent>p:not(:last-child){
  margin-right: 100px;
}
.listemail{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.listemail>svg{
  margin-right: 20px;
}
.deleteicon{
  margin-left: auto;
}
.checkbox{
  margin-left: 5px !important;
}
.logincontainer{
  height: 720px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logincard{
  width: 400px;
  background: #fff;
  height: 400px;
  padding: 1rem;
  border: 1px solid #dddfe2;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 /10%);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logincard > input{
border-radius: 8px;
border: 2px solid #dddfe2;
outline: none;
color: #1d2129;
margin: 0.5rem 0;
padding: 0.5rem 0.75rem;
width: 100%;
font-size: 1rem;
}
.signoutbtn, .logincard > button{
  background: #1877f2;
  border: 1px solid #1877f2;
  color: #fff;
  font-size: 1.25rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  outline: none;

  
}
.signoutcontainer{
  padding: 30px;

}
.signoutcontainer :nth-child(1){
  display: flex;
  justify-content: end;

}